<!DOCTYPE html>
<html lang="en">

<head>
    <div th:include="~{head.html}"></div>
</head>

<body>
<div th:include="~{body.html}"></div>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-2">CART</h1>
    </div>
</div>
<!-- Page Header End -->

    <!-- Cart Start -->
    <div class="container-fluid pt-0">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr th:each="cartLine : ${cart.getCartLine()}">
                            <td class="align-middle"><img th:src="${cartLine.product.imageList[0].url}" th:text="${cartLine.product.name}" alt="" style="width: 50px;"></td>
                            <td class="align-middle" th:text="${cartLine.product.price}"></td>
                            <td class="align-middle" th:text="${cartLine.quantity}"></td>
                            <td class="align-middle" th:text="${cartLine.subtotal}"></td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" th:text="${cart.total}"></h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
<div th:include="~{footer.html}"></div>

</body>

</html>