<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-3 d-flex justify-content-center align-items-center">
    <div class="row px-xl-5 pt-0">
        <div class="col-lg-12 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="/admin" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold d-flex justify-content-center align-items-center"><span class="text-primary font-weight-bold border border-white px-3 mr-1">VM</span>STYLE</h1>
            </a>
            <p class="d-flex justify-content-center align-items-center">"Kịp thì ta đợi, trễ thì lần sau</p>
            <p class="d-flex justify-content-center align-items-center">Tiếc chi thì giờ, miễn là có nhau...!"</p>
            <p class="mb-2 d-flex justify-content-center align-items-center"><i class="fa fa-map-marker-alt text-primary mr-3"></i>7A/5/5 Đường Thành Thái, Phường 14, Quận 10, Thành phố Hồ Chí Minh</p>
            <p class="mb-2 d-flex justify-content-center align-items-center"><i class="fa fa-envelope text-primary mr-3"></i>phamkhanhduy0207@gmail.com</p>
            <p class="mb-2 d-flex justify-content-center align-items-center"><i class="fa fa-phone-alt text-primary mr-3"></i>+849 4444 3197</p>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/easing.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/owl.carousel.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>