<meta charset="utf-8">
<title>VM STYLE</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
<link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
<link th:href="@{/css/owl.theme.default.css}" rel="stylesheet">
<link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet">
<link th:href="@{/css/owl.theme.green.css}" rel="stylesheet">
<link th:href="@{/css/owl.theme.green.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">