<!DOCTYPE html>
<html lang="en">
<head>
    <div th:include="~{head.html}"></div>
</head>
<body>
<div th:include="~{body.html}"></div>

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-2">ĐĂNG KÝ TÀI KHOẢN</h1>
    </div>
</div>

<div class="container-fluid pt-0">
    <form id="myForm" class="modal-content-form" th:object="${registerDto}" th:action="@{/auth/register}" method="post">
        <label id="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" th:field="*{name}" name="name" required>

        <label id="phoneNumber"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number" th:field="*{phoneNumber}" name="phoneNumber" required>

        <label id="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" th:field="*{email}" name="email" required>

        <label id="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" name="psw" required>

        <label id="role" th:field="*{role}"><b>Role</b></label>
        <input type="text" placeholder="Enter Role" name="role" value="USER" readonly>

        <button type="submit" class="signupbtn">Đăng ký</button>
    </form>
</div>

<div th:include="~{footer.html}"></div>

</body>
</html>
